button.search {
    width: 40px;
    height: 21px;
    background: url(img/magnifying-glass34.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -5px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid grey;
}

input.searchText {
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    margin: 10px;
}

.flex-item {
    margin: 0 10px;
}

.movie-poster {
    width: 150px;
    border: none;
}

.title{
    margin: 0;
    color: dodgerblue;
    font-size: 2em;
    display: inline-block;
}

.related-year {
    font-size: 10px;
}

.related-title {
    color: cadetblue;
    font-size: 1em;
    display: inline-block;
}

.flex-box ul {
    margin-left: 0;
    padding-left: 0;
}

.width-50 {
    width: 50%;
}