body {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/bg-sky.png);
  background-repeat: repeat !important;
  background-attachment: fixed;
}

.movie-poster {
    float: left;
    margin-left: -1em;
}

h1 {
    margin: 0;
}

.container {
    margin-top: 10px;
}

.title{
    margin: 0;
    color: dodgerblue;
    font-size: 2em;
    display: inline-block;
}

.related-year {
    font-size: 10px;
}

.related-title {
    color: cadetblue;
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
}

span.tag {
    background-color: deepskyblue;
    margin: 5px;
    margin-left: 0;
    padding: 3px;
    border-radius: 2px;
    font-size: 11px;
    color: white;
    font-weight: 700;
}

.related-header {
    font-size: 34px;
}

.ratings {
    margin-top: 10px;
    font-weight: bold;
}

.good-rating-tag {
    background-color: aquamarine;
    border-radius: 2px;
    font-weight: 600;
    padding: 3px;
    font-size: 11px;
}

.bad-rating-tag {
    background-color: darksalmon;
    border-radius: 2px;
    font-weight: 600;
    padding: 3px;
    font-size: 11px;
}

ul {
    padding-left: 20px;
    list-style: circle;
}

.rated {
    padding: 6px;
    background-color: darkgray;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 700;
}
